{{> adminlayout}}

  <body>

    <div class="container tm-mt-big tm-mb-big w-50 pt-5">
      <div class="row">
        <div class="col-12 mx-auto tm-login-col">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12 text-center">
                <h2 class="tm-block-title mb-4">Welcome to Dashboard, Login</h2>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <form action="/admin_panel/admin_login" method="post" class="tm-login-form">
                  <div class="form-group">
                    <label for="username">E-mail</label>
                    <input
                      name="adminEmail"
                      type="text"
                      class="form-control validate"
                      id="username"
                      value="akifrahman24409@gmail.com"
                      placeholder="Email"
                    />
                    <label style="font-size: 0.8rem;" class="text-danger" for="">{{errorUname}}</label>
                  </div>
                  <div class="form-group mt-3">
                    <label for="password">Password</label>
                    <input
                      name="adminPass"
                      type="password"
                      class="form-control validate"
                      id="password"
                      value="654321"
                      placeholder="Password"
                    />
                    <label style="font-size: 0.8rem;" class="text-danger" for="">{{errorPassword}}</label>
                  </div>
                  <div class="form-group mt-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block text-uppercase"
                    >
                      Login
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
      <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
          Copyright &copy; <b>2022</b> All rights reserved. 
        </p>
      </div>
    </footer>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="/javascripts/bootstrap.min.js"></script>
  </body>
</html>
