{{!-- Navbar Start --}}

    <div class="container-fluid p-0" style="position: fixed; z-index: 5;">
        <div class="row align-items-center py-3 px-xl-5 bg-light-green">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <img style="width: 55%;" src="/images/logo.png" alt="">
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left p-0">
                <form id="search-product">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products" onkeyup="sendData(this)">
                        <div class="input-group-append">
                            <span class="input-group-text bg-white text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </form>
                <section class="search-result" id="search-result" style="z-index: 2;position: absolute;width: -webkit-fill-available;">
                    <ol id="search-result" class="list-group list-group-numbered"></ol>
                </section>
            </div>
            <div class="col-lg-3 col-6 text-right">
                <a href="/user_profile" class="btn">
                    <i class="fas fa-user text-primary"></i>
                    <span class="badge">Profile</span>
                </a>
                <a href="/wishlist" class="btn">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge" id="wishlist-count">{{wishlistCount}}</span>
                </a>
                <a href="/cart" class="btn">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge" id="cart-count">{{cartCount}}</span>
                </a>
            </div>
        </div>
        <div class="row border-bottom">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light py-lg-0" style="background: aliceblue;">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <img style="width: 35%;" src="/images/logo.png" alt="">
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse" style="height: 2.5rem;">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link font-weight-bold ml-4">HOME</a>
                            <a href="/shops" class="nav-item nav-link font-weight-bold ml-4">SHOPS</a>
                            <a href="/contact" class="nav-item nav-link font-weight-bold ml-4">CONTACT</a>
                        </div>
                        <div class="navbar-nav ml-auto py-0">
                            {{#if user}}
                            <a style="font-size: 0.9rem;" href="/user_logout" class="nav-item nav-link">Logout</a>
                            {{else}}
                            <a style="font-size: 0.9rem;" href="/user_login" class="nav-item nav-link">Login</a>
                            <a style="font-size: 0.9rem;" href="/user_registration" class="nav-item nav-link">Register</a>
                            {{/if}}
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {{!-- Navbar End --}}