 {{!-- Footer Start  --}}
    <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <a href="" class="text-decoration-none">
                    <img style="width: 30%;padding-bottom: 10px;" src="/images/logo.png" alt="">
                </a>
                <p>This shop product is quality products</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Pappinisseri,Kannur,Kerala</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>dorlaro@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 9562696976</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class=" mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class=" mb-2" href="/shops"><i class="fa fa-angle-right mr-2"></i>Our Prducts</a>
                            <a class=" mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                            <a class=" mb-2" href="/wishlist"><i class="fa fa-angle-right mr-2"></i>Wishlist</a>
                            <a href="/contact"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class=" mb-2" href="/user_profile"><i class="fa fa-angle-right mr-2"></i>My Profile</a>
                            <a class=" mb-2" href="/coupons"><i class="fa fa-angle-right mr-2"></i>My Coupons</a>
                            <a class=" mb-2" href="/orders"><i class="fa fa-angle-right mr-2"></i>My Orders</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="font-weight-bold text-dark mb-4">Social Media</h5>
                        <div class="col-lg-6 text-lg-right">
                            <div class="d-inline-flex align-items-center">
                                <a href="">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class=" px-2" href="">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class=" px-2" href="">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                                <a class=" px-2" href="">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a class="pl-2" href="">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{!-- Footer End --}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/validation.js"></script>
    <script src="/javascripts/ajax.js"></script>
