{{> layout}}

<body>
    
    {{> usernavbar}}

    {{#if success}}
        <p id="alertMsgLog" hidden>b</p>
    {{/if}}

    <!-- Login Start -->
    <div class="container top-align-log">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center" style="font-weight: bold;">LOG IN</h5>
                <form  class="form-signin" action="/user_login" method="post">
                  <div class="form-label-group">
                    <label  class="mt-4" for="inputEmail">E-mail</label>
                    <input type="email" id="inputEmail" class="form-control" name="userEmail" placeholder="E-mail" value="akifrahman90442@gmail.com">
                    <label style="font-size: 0.8rem;" class="text-danger" for="">{{errorEmail}}</label>
                  </div>
    
                  <div class="form-label-group">
                    <label class="mt-4" for="inputPassword">Password</label>
                    <input type="password" id="inputPassword" class="form-control" name="userPass" placeholder="Password" value="123456">
                    <label style="font-size: 0.8rem;" class="text-danger" for="">{{errorPass}}</label>
                    <div class="text-right">
                      <a style="font-size: 0.8rem;color: blue;" href="/user_login/forgot_password">Forgot password ?</a>
                    </div>
                  </div>
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase mt-5" type="submit">Log In</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Login End -->

    {{> userfooter}}

    <script>
        let alerts = document.getElementById("alertMsgLog").innerHTML
        if(alerts == "b"){
            Swal.fire({
                            position: 'center',
                            icon: 'success',
                            title: 'Your Password is changed',
                            customClass: 'swal-wide',
                            showConfirmButton: false,
                            timer: 1000
                        })
        }
    </script>

</body>

</html>