{{> layout}}

<body>
    
    {{> usernavbar}}

    <!-- Login Start -->
    <div class="container top-align">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
            <div class="card card-signin my-5">
              <div class="card-body">
                <form  class="form-signin">
                  <div class="form-label-group">
                    <label  class="mt-4" for="inputEmail">Enter Your OTP Number</label>
                    <input type="text" id="inputEmail" class="form-control" name="OTP" placeholder="OTP Number">
                  </div>
    
                  <button class="btn btn-lg btn-primary btn-block text-uppercase mt-5" type="submit">Rgister</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- Login End -->

    {{> userfooter}}

</body>

</html>