{{> layout}}

<body>

  {{> usernavbar}}

  <!-- Login Start -->
  <div class="container top-align-log">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto mt-5">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center" style="font-weight: bold;">REGISTER</h5>
            <form class="form-signin" action="/user_registration" method="post">
              <div class="d-flex">
                <div class="form-label-group w-50">
                  <label class="mt-4" for="inputEmail">First Name</label>
                  <input type="text" id="inputFirstName" class="form-control" name="userFName" placeholder="First Name">
                  <label id="firstNameError" style="font-size: 0.7rem;" class="text-danger" for=""></label>
                </div>
                <div class="form-label-group w-50 ml-3">
                  <label class="mt-4" for="inputEmail">Second Name</label>
                  <input type="text" id="inputLastName" class="form-control" name="userLName" placeholder="Second Name">
                </div>
              </div>

              <div class="form-label-group">
                <label class="mt-4" for="inputEmail">E-mail</label>
                <input type="text" id="inputEmail" class="form-control" name="userEmail" placeholder="E-mail">
                <label style="font-size: 0.7rem;" class="text-danger" for="">{{errorMeassage}}</label>
                <label id="emailError" style="font-size: 0.7rem;" class="text-danger is-invalid" for=""></label>
              </div>

              <div class="form-label-group">
                <label class="mt-4" for="inputEmail">Phone No</label>
                <input type="text" id="inputPhone" class="form-control" name="userPhoneNo" placeholder="Phone No">
                <label id="PhoneNoError" style="font-size: 0.7rem;" class="text-danger" for=""></label>
              </div>

              <div class="form-label-group">
                <label class="mt-4" for="inputPassword">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="userPass" placeholder="Password">
                <label id="PasswordError" style="font-size: 0.7rem;" class="text-danger" for=""></label>
              </div>
              <div class="form-label-group">
                <label class="mt-4" for="inputPassword">Confirm Password</label>
                <input type="password" id="inputConfPassword" class="form-control" name="userConfPass"
                  placeholder="Password">
                <label id="ConfPasswordError" style="font-size: 0.7rem;" class="text-danger" for=""></label>
              </div>

              <input id="register" class="btn btn-lg btn-primary btn-block text-uppercase mt-5" value="Get OTP"
                type="submit">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Login End -->

  {{> userfooter}}

</body>

</html>