<!DOCTYPE html>
<html lang="en">

<head>
    <title>D OR Laro Sports Hub</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">

    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="/stylesheets/admin.css">
</head>
</html>